* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font-size: 46%; */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  line-height: 1;
  /* position: relative;
  overflow-x: hidden; */
}

.container {
  max-width: 110rem;
  margin: 6.4rem auto;
  box-shadow: 0 0 4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.btn:link,
.btn:visited {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #fefefe;
  display: inline-block;
  padding: 0.6rem 1.4rem;
  border-radius: 0.2rem;
}

/* HEADER */
.header {
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url(img/bg-img.jpg);
  background-size: cover;
  background-position: center;
  padding: 2rem 4rem 0.8rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  margin-bottom: 4rem;
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: #eee;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.icon-sks {
  height: 1.6rem;
}

.btn.btn--need-help {
  color: #cdcdcd;
  background-color: rgba(255, 255, 255, 0.2);
}

.notification-icon {
  font-size: 2.2rem;
  color: #cdcdcd;
  position: relative;
}

.notification-icon::after {
  content: "";
  display: block;
  height: 0.6rem;
  width: 0.6rem;
  background-color: #fca424;
  border: 1px solid #fff;
  border-radius: 50%;

  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

.profile-img-sm {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 0.4rem;
}

/* Profile */
.profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.6rem;
  justify-items: end;
  position: relative;
}

.profile-img {
  height: 20rem;
  width: 20rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.05);

  position: absolute;
  top: 0;
  left: 0;
}

.bio {
  grid-row: span 2;
  margin: 0 auto 0 22rem;
}

.greeting {
  font-size: 2rem;
  font-weight: 500;
  color: #fefefe;
  margin-bottom: 1.6rem;
}

.bio-details {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.bio-detail {
  font-size: 1rem;
  color: #eee;
}

.bio-detail span {
  color: #cdcdcd;
}

.profile-completion {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 2.2rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.progress {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: conic-gradient(#819196 25%, #fca424 0%);
  display: grid;
  place-items: center;
}

.progress-inner {
  height: 5.4rem;
  width: 5.4rem;
  background-color: #62777e;
  background-color: #416069;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.progress-inner p {
  font-size: 1.2rem;
  color: #eee;
  background-color: #86949a;
  background-color: #819196;
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.profile-completion .title {
  color: #fefefe;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.profile-completion .request {
  color: #cdcdcd;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.btn.btn--complete {
  background-color: #fca424;
}

.camera {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.4rem;
}

.camera-icon {
  font-size: 1.6rem;
  color: #cdcdcd;
}

/**************/
.section {
  display: flex;
  width: 100%;
  background-color: #fff;
}

/* ABOUT */
.about {
  padding: 5.4rem 1.6rem 4.8rem 4rem;
  border-right: 1px solid #ddd;
}

.about-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #dedede;
  padding: 1.1rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-title:first-child {
  font-size: 1.2rem;
}

.about-icon {
  font-size: 1.4rem;
  cursor: pointer;
  color: #999;
}

.about-family {
  margin: 2.2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

/* .family-category {
} */

.family-category-title {
  font-size: 1rem;
  text-transform: uppercase;
  color: #aaa;
  margin-bottom: 1.6rem;
}

.family-imgs {
  display: flex;
  gap: 1.4rem;
}

.family-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-top: 1.6rem;
}

/* .about-me-info{
} */

.about-me span {
  font-size: 1rem;
  text-transform: uppercase;
  color: #bbb;
  display: inline-block;
  margin-bottom: 0.6rem;
}

/* MAIN-CONTAINER */
.main-container {
  width: 100%;
}

.main-nav {
  border-bottom: 1px solid #ddd;
  padding: 0 4rem 0 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #aaa;
  display: inline-block;
  padding: 2.4rem 0;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #1a1a1a;
  font-weight: 500;
}

.dashboard-icon {
  color: #1a1a1a;
  font-size: 1.3rem;
}

.main-nav-list li:first-child .main-nav-link {
  color: #1a1a1a;
  font-weight: 600;
}

.main-nav-list li:first-child {
  cursor: pointer;
  box-shadow: inset 0 -0.5px 0 #fca424, 0 1px 0 #fca424,
    0 0.8rem 0 rgba(0, 0, 0, 0.02);
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.btn.btn--claim {
  background-color: #0dd39d;
  padding: 0.6rem 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.24rem;
}

/* DASHBOARD */
.dashboard {
  padding: 2.4rem 4rem 4.8rem 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6rem;
  row-gap: 1.6rem;
}

.claim-card {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 2rem;
  margin-bottom: 0.8rem;
  box-shadow: 0 0.2rem 1.2rem 0.2rem rgba(0, 0, 0, 0.05);
}

.claim-number {
  font-size: 4.4rem;
  font-family: "Dosis", sans-serif;
  letter-spacing: -1px;
}

.claim-text {
  padding-left: 1.6rem;
  border-left: 1px solid #ddd;
}

.claim-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #aaa;
  margin-bottom: 1.8rem;
}

.claim-imgs {
  display: flex;
  position: relative;
}

.claim-img {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  margin-right: -0.8rem;
}

.claim-img:last-child {
  margin-right: 0;
}

.claim-imgs::after {
  content: "+32";
  display: grid;
  place-items: center;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  font-size: 0.9rem;
  color: #eee;
  background-color: rgba(13, 211, 158, 0.6);
  position: absolute;
  top: 0;
  left: 4.8rem;
}

.member {
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem;
  box-shadow: 0 0.2rem 1.2rem 0.2rem rgba(0, 0, 0, 0.05);
}

.member-img {
  height: 9rem;
  width: 9rem;
  border-radius: 0.4rem;
}

.member-name {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.member-details {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.member-detail {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1rem;
}

.icon-filed,
.icon-due,
.icon-address {
  color: #cdcdcd;
  font-size: 1.4rem;
  margin-right: 0.8rem;
}

.member-detail span {
  display: inline-block;
  font-size: 1rem;
  color: #777;
}

.member-detail p {
  color: #aaa;
}

.btn.btn--pay {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 0.24rem;
  margin-left: auto;
  background-color: #fca424;
}
.icon-pay {
  height: 1.2rem;
  width: 1.2rem;
}

.activity-section {
  grid-column: 3;
  grid-row: 2 / span 3;
  padding: 1.6rem 2rem 1.6rem 1.6rem;
  box-shadow: 0 0.2rem 1.2rem 0.2rem rgba(0, 0, 0, 0.05);
}

.activity-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #888;
  padding-bottom: 1rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid #ddd;
}

.activities {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-left: 0.8rem;
  border-left: 1px solid #eee;
}

.activity {
  position: relative;
  padding: 0 4.3rem 0 2rem;
}

.activity-bullet {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-52%, 30%);
  height: 0.64rem;
  width: 0.64rem;
  border-radius: 50%;
}

.activity:nth-child(1) .activity-bullet {
  background-color: #57a9f2;
  box-shadow: 0 0 0 0.3rem #f4faff;
}
.activity:nth-child(2) .activity-bullet {
  background-color: #fca424;
  box-shadow: 0 0 0 0.3rem #fff0d8;
}
.activity:nth-child(3) .activity-bullet {
  background-color: #28e268;
  box-shadow: 0 0 0 0.3rem #ecfff2;
}
.activity:nth-child(4) .activity-bullet {
  background-color: #57a9f2;
  box-shadow: 0 0 0 0.3rem #f4faff;
}

.activity-title {
  font-size: 1.2rem;
  color: #1a1a1a;
  margin-bottom: 0.6rem;
}

.activity-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #999;
  margin-bottom: 0.6rem;
}

.activity-time {
  font-size: 1rem;
  color: #ccc;
}

.activity:nth-child(2)::after {
  content: "";
  display: block;
  height: 2.4rem;
  width: 0.32rem;
  border-radius: 100px;
  background-color: #fca424;
  box-shadow: 0 0 0.8rem rgba(205, 205, 205, 0.5);
  position: absolute;
  top: 50%;
  right: -4%;
}

/* BACKGROUND */

.canvas {
  position: relative;
  overflow: hidden;
}

.bg {
  position: absolute;
  z-index: -999;
}

.bg-1 {
  height: 64rem;
  width: 64rem;
  border: 6rem solid #fca424;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(-36%, -39%);
}

.bg-2 {
  height: 2.1rem;
  width: 2.1rem;
  border: 0.4rem solid #0dd39d;
  border-radius: 50%;
  top: 3%;
  left: 54%;
}

.bg-3 {
  height: 2rem;
  width: 2rem;
  background-color: rgba(252, 166, 36, 0.6);
  transform: rotate(-25deg);
  top: 8%;
  right: 4%;
}

.bg-4 {
  height: 1.2rem;
  width: 1.2rem;
  border: 0.3rem solid #ff9999;
  transform: rotate(45deg);
  top: 52%;
  left: 6%;
}

.bg-5 {
  height: 2rem;
  width: 2rem;
  border: 0.36rem solid #cdcdcd;
  transform: rotate(35deg);
  top: 55%;
  right: 2%;
}

.bg-6 {
  height: 1.8rem;
  width: 1.8rem;
  background-color: #0dd39d;
  bottom: 2%;
  left: 5%;
}

.bg-7 {
  height: 2.1rem;
  width: 2.2rem;
  border: 0.4rem solid rgba(252, 166, 36, 0.4);
  transform: rotate(45deg);
  bottom: 2.4%;
  right: 54%;
}

.bg-8 {
  height: 25rem;
  width: 25rem;
  border: 2rem solid rgba(205, 205, 205, 0.2);
  bottom: -4%;
  right: -1%;
  transform: rotate(35deg);
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
